///////////////////////////////////////////////////////////
//  press/public/scss/colour.scss
//


///////////////////////////////////////////////////////////
//  Site-wide primary and secondary and tertiary colours.
//
    $primary-fg: #1E90FF;
    $primary-bg: #000;

    $secondary-fg: #FFF;
    $secondary_bg: #225;

    $tertiary-fg: #1E90FF;
    $tertiary-bg: #445;

