///////////////////////////////////////////////////////////
//  press/public/scss/content.scss
//


//  font-family: 'Geo', sans-serif;

//  font-family: 'Sarpanch', sans-serif;

//  font-family: 'Lekton', sans-serif;

    $menu-header-font: "Geo", sans-serif;
    $menu-link-font: "Lekton", sans-serif;

    $project-name-font: "Sarpanch", sans-serif;
    $project-description-font: "Lekton", sans-serif;
    $project-languages-font: "Lekton", sans-serif;

